In [37]:
import pandas as pd

In [47]:
df = pd.read_csv("Business_Financials_Data.csv")

In [48]:
# Step 1: Preview the first few rows and the column names
print(df.head())
print("Columns:", df.columns.tolist())

   Business ID Business State  Total Long-term Debt  Total Equity  \
0     41872013       Kentucky              16889000      18046000
1     76232013           Iowa               6252000      18293621
2    160992013          Texas              19200000     177858000
3    197452013       Delaware             117592000     278773000
4    241042013       Illinois               4408000      52064000

   Debt to Equity  Total Liabilities  Total Revenue  Profit Margin
0        0.935886           25986000      136753000       0.023663
1        0.341758           14474000       34226553       0.265015
2        0.107951           72787000      384196000       0.130413
3        0.421820          558749000      444306000       0.196768
4        0.084665           19898000      121541000       0.168305
Columns: ['Business ID', 'Business State', 'Total Long-term Debt', 'Total Equity', 'Debt to Equity', 'Total Liabilities', 'Total Revenue', 'Profit Margin']

In [55]:
# Step 2: Check if required columns are in the dataset
required_col = ["Business ID",
                "Business State", 
                "Total Long-term Debt",
                "Total Equity",
                "Debt to Equity", 
                "Total Liabilities", 
                "Total Revenue", 
                "Profit Margin"]

for col in required_col:
    if col not in df.columns:
        print(col, "is missing!")

In [56]:
# Step 3: Remove rows with missing values
df_clean = df.dropna()
print(f"Rows after cleaning: {len(df_clean)}")

Rows after cleaning: 150

In [57]:
# Step 4: Identify duplicate rows
dups = df_clean[df_clean.duplicated()]
if not dups.empty: 
    print("Duplicates detected. Please review the following rows:")
    print(dups)
    print("No rows have been deleted yet. Please remove them manually if appropriate.")
    # Stop the script so the analyst can review 
    raise SystemExit("Execution stopped for review of duplicate rows.")
else: 
    print("No duplicate rows found.")

No duplicate rows found.

In [69]:
# Step 5a: Safeguard for division by 0
dti_val = []
for _, row in df_clean.iterrows():
    if row["Total Revenue"] == 0:
        dti_val.append(0)
    else:
        dti_val.append(row["Total Long-term Debt"] / row["Total Revenue"]) 

# Step 5b - Create new dataframe for Debt-to-Income ratios
dti_df = pd.DataFrame()
dti_df["Business ID"] = df_clean["Business ID"]
dti_df["DebtToIncome"] = dti_val

print(dti_df.head())

   Business ID  DebtToIncome
0     41872013      0.123500
1     76232013      0.182665
2    160992013      0.049974
3    197452013      0.264664
4    241042013      0.036268

In [66]:
# Step 5c: Concatenate the new DTI dataframe back to the cleaned data
df_combined = pd.concat([df_clean, dti_df["DebtToIncome"]], axis=1)
print("Business-level dataframe with Debt-to-Income added:")
print(df_combined[["Business ID", "Business State", "DebtToIncome"]].head())

print("Debt-to-Income column added (via separate dataframe + concat):")
print(df_combined.head())

Business-level dataframe with Debt-to-Income added:
   Business ID Business State  DebtToIncome
0     41872013       Kentucky      0.123500
1     76232013           Iowa      0.182665
2    160992013          Texas      0.049974
3    197452013       Delaware      0.264664
4    241042013       Illinois      0.036268
Debt-to-Income column added (via separate dataframe + concat):
   Business ID Business State  Total Long-term Debt  Total Equity  \
0     41872013       Kentucky              16889000      18046000
1     76232013           Iowa               6252000      18293621
2    160992013          Texas              19200000     177858000
3    197452013       Delaware             117592000     278773000
4    241042013       Illinois               4408000      52064000

   Debt to Equity  Total Liabilities  Total Revenue  Profit Margin  \
0        0.935886           25986000      136753000       0.023663
1        0.341758           14474000       34226553       0.265015
2        0.107951           72787000      384196000       0.130413
3        0.421820          558749000      444306000       0.196768
4        0.084665           19898000      121541000       0.168305

   DebtToIncome
0      0.123500
1      0.182665
2      0.049974
3      0.264664
4      0.036268

In [60]:
# Step 6: Filter rows with negative Debt-to_Equity values
neg_dte = df_combined[df_combined["Debt to Equity"] < 0]
print("Businesses with NEGATIVE Debt-to-Equity ratios:")
print(neg_dte)

Businesses with NEGATIVE Debt-to-Equity ratios:
     Business ID Business State  Total Long-term Debt  Total Equity  \
18     934562013           Ohio             263880000    -111297000
57    8343652013     Washington              10603000     -13271658
87    9323722013     California              21560000     -15691000
109  10919832013           Utah               2010000      -3602481
117  11245242013     California                556000      -2063203
142  14535932013        Montana              16459000      -3842372
143  14639722013       New York                187000     -13037879

     Debt to Equity  Total Liabilities  Total Revenue  Profit Margin  \
18        -2.370953          592174000      719783000       0.320697
57        -0.798921           16625000        8949401       0.448119
87        -1.374036           30048000       37782000       0.505955
109       -0.557949            6302000       17757388       0.732562
117       -0.269484            3819000        1100539      -0.084923
142       -4.283552           32720000       33073414       0.582444
143       -0.014343           15900000        2389053       0.300978

     DebtToIncome
18       0.366610
57       1.184772
87       0.570642
109      0.113192
117      0.505207
142      0.497650
143      0.078274

In [61]:
# Step 7: Group by State and calculate descriptive statistics 
metrics_cols = ["Total Long-term Debt",
                "Total Equity",
                "Total Liabilities",
                "Total Revenue",
                "Profit Margin",
                "DebtToIncome"]
                    
                
agg_results = df_combined.groupby("Business State")[metrics_cols].agg(['mean','median','min','max'])
print("State-level descriptive statistics:")
print(agg_results)

State-level descriptive statistics:
                Total Long-term Debt                                        \
                                mean        median         min         max
Business State
Alabama                 6.743890e+08  6.743890e+08     5314000  1343464000
Arizona                 6.508800e+07  6.508800e+07    65088000    65088000
Arkansas                8.960450e+07  8.960450e+07    70366000   108843000
California              3.273964e+07  4.721500e+06       15000   334997000
Colorado                8.470025e+07  2.932700e+07     3375000   375322000
Connecticut             1.851200e+07  1.851200e+07    18512000    18512000
Delaware                6.156325e+07  6.016500e+07     8331000   117592000
Florida                 1.230350e+07  1.809000e+06        3000    45593000
Hawaii                  6.055000e+08  6.055000e+08   605500000   605500000
Idaho                   2.463500e+06  2.463500e+06       16000     4911000
Illinois                1.132533e+07  9.029000e+06     1598000    33665000
Indiana                 2.168600e+07  5.112000e+06     4946000    55000000
Iowa                    6.252000e+06  6.252000e+06     6252000     6252000
Kentucky                1.688900e+07  1.688900e+07    16889000    16889000
Louisiana               3.790000e+08  3.790000e+08   379000000   379000000
MInnesota               7.493429e+07  1.016900e+07     1332000   389589000
Maine                   8.960000e+05  8.960000e+05      896000      896000
Maryland                1.448550e+07  9.585000e+05       25000    56000000
Massachusetts           7.717600e+06  4.911000e+06      232000    24583000
Michigan                3.611400e+07  2.160900e+07     2033000    84700000
Missouri                1.730845e+08  1.730845e+08    60800000   285369000
Montana                 8.730500e+06  8.730500e+06     1002000    16459000
Nebraska                1.891900e+07  1.891900e+07    18919000    18919000
Nevada                  5.232000e+06  5.232000e+06     5232000     5232000
New Jersey              1.083810e+08  5.549000e+06       30000   701056000
New Mexico              1.670420e+09  1.670420e+09  1670420000  1670420000
New York                3.356664e+07  6.451500e+06      187000   190454000
North Carolina          1.949496e+08  2.265400e+07       16000   730157000
Ohio                    1.151766e+08  1.193840e+08     2429000   263880000
Oregon                  8.280500e+06  8.280500e+06     5511000    11050000
Pennsylvania            8.821533e+07  8.679600e+07      297000   177553000
Rhode Island            5.104500e+07  5.104500e+07    51045000    51045000
South Carolina          1.303430e+08  1.303430e+08    94763000   165923000
Tennessee               6.562650e+07  6.562650e+07    29494000   101759000
Texas                   5.424593e+08  1.920000e+07      931000  3183823000
Utah                    1.786000e+06  1.786000e+06     1562000     2010000
Virginia                2.682600e+07  1.300000e+07       21000    90208000
Washington              5.242200e+07  5.242200e+07    10603000    94241000
Washington D.C.         5.240670e+08  5.240670e+08   524067000   524067000
Wisconsin               3.958340e+07  2.396000e+06      203000   190817000

                 Total Equity                                        \
                         mean        median         min         max
Business State
Alabama          1.441039e+09  1.441039e+09    24058479  2858019000
Arizona          5.915300e+07  5.915300e+07    59153000    59153000
Arkansas         1.082420e+08  1.082420e+08   100538000   115946000
California       4.535982e+07  1.427150e+07   -15691000   321175000
Colorado         2.007589e+08  6.077850e+07    12845248   933971000
Connecticut      4.399091e+06  4.399091e+06     4399091     4399091
Delaware         1.514428e+08  1.393095e+08    48379000   278773000
Florida          5.475486e+07  1.188788e+07     2597665   192646000
Hawaii           1.173200e+09  1.173200e+09  1173200000  1173200000
Idaho            2.155825e+08  2.155825e+08     4846014   426319000
Illinois         6.759322e+07  4.750640e+07    12763500   215304000
Indiana          5.990800e+07  8.231000e+07     9459000    87955000
Iowa             1.829362e+07  1.829362e+07    18293621    18293621
Kentucky         1.804600e+07  1.804600e+07    18046000    18046000
Louisiana        5.599650e+08  5.599650e+08   559965000   559965000
MInnesota        1.005679e+08  1.824600e+07    12137652   534830000
Maine            9.395714e+06  9.395714e+06     9395714     9395714
Maryland         1.010719e+08  5.399145e+07    14973593   281331000
Massachusetts    3.730778e+07  1.064600e+07     6346284   146044000
Michigan         2.356307e+08  4.272300e+07    14435000   649734000
Missouri         8.377200e+07  8.377200e+07    23400000   144144000
Montana          3.579810e+06  3.579810e+06    -3842372    11001991
Nebraska         5.564090e+07  5.564090e+07    55640899    55640899
Nevada           2.024400e+07  2.024400e+07    20243996    20243996
New Jersey       1.271195e+08  2.392687e+07     2696434   827000000
New Mexico       1.762127e+09  1.762127e+09  1762127000  1762127000
New York         6.566206e+07  3.536200e+07   -13037879   392943000
North Carolina   1.807661e+08  3.155600e+07     5562054   613639000
Ohio             7.776800e+07  6.744800e+07  -111297000   298616000
Oregon           6.504541e+07  6.504541e+07    18858812   111232000
Pennsylvania     7.364100e+07  1.300600e+07    11459000   196458000
Rhode Island     2.749000e+07  2.749000e+07    27490000    27490000
South Carolina   7.474850e+07  7.474850e+07     8431000   141066000
Tennessee        1.117655e+08  1.117655e+08    70771000   152760000
Texas            4.354187e+08  1.559730e+08     6069000  2414452000
Utah             1.303053e+06  1.303053e+06    -3602481     6208587
Virginia         7.573291e+07  4.950270e+07     6700572   186803000
Washington       1.242892e+08  1.242892e+08   -13271658   261850000
Washington D.C.  1.302718e+09  1.302718e+09  1302718000  1302718000
Wisconsin        6.295184e+07  1.604900e+07     6126073   250087000

                Total Liabilities                ... Total Revenue  \
                             mean        median  ...           min
Business State                                   ...
Alabama              1.893946e+09  1.893946e+09  ...     137344716
Arizona              1.109380e+08  1.109380e+08  ...     215580000
Arkansas             2.138820e+08  2.138820e+08  ...     402813000
California           8.018100e+07  1.682100e+07  ...       1100539
Colorado             1.454528e+08  6.500050e+07  ...       7616000
Connecticut          3.387400e+07  3.387400e+07  ...      70980512
Delaware             2.491862e+08  1.991155e+08  ...      46180000
Florida              2.709850e+07  5.500000e+06  ...      11783539
Hawaii               1.110400e+09  1.110400e+09  ...     365200000
Idaho                1.916990e+08  1.916990e+08  ...       6849150
Illinois             5.509183e+07  2.351650e+07  ...      28227000
Indiana              5.401133e+07  5.401900e+07  ...      22068000
Iowa                 1.447400e+07  1.447400e+07  ...      34226553
Kentucky             2.598600e+07  2.598600e+07  ...     136753000
Louisiana            6.133580e+08  6.133580e+08  ...     856500000
MInnesota            1.905971e+08  2.801700e+07  ...      15104422
Maine                1.565000e+06  1.565000e+06  ...       6007176
Maryland             4.094950e+07  7.713500e+06  ...       8030016
Massachusetts        2.654380e+07  1.614200e+07  ...      21341052
Michigan             1.032280e+08  3.465000e+07  ...      23649000
Missouri             2.320035e+08  2.320035e+08  ...     412557000
Montana              1.830450e+07  1.830450e+07  ...      11020829
Nebraska             5.073400e+07  5.073400e+07  ...    1211052634
Nevada               2.375600e+07  2.375600e+07  ...      24826587
New Jersey           3.155939e+08  1.617650e+07  ...       7827258
New Mexico           3.738083e+09  3.738083e+09  ...    1387923000
New York             6.734364e+07  2.392500e+07  ...       2389053
North Carolina       5.740320e+08  3.941500e+07  ...        419322
Ohio                 2.582536e+08  2.608040e+08  ...       9423000
Oregon               3.460000e+07  3.460000e+07  ...      13271914
Pennsylvania         1.449373e+08  1.514660e+08  ...      30102000
Rhode Island         8.787700e+07  8.787700e+07  ...     208173000
South Carolina       2.290950e+08  2.290950e+08  ...     462593000
Tennessee            1.438685e+08  1.438685e+08  ...     344374000
Texas                7.964320e+08  7.278700e+07  ...      15588000
Utah                 7.599000e+06  7.599000e+06  ...      17757388
Virginia             6.918100e+07  5.716200e+07  ...        159583
Washington           9.411700e+07  9.411700e+07  ...       8949401
Washington D.C.      2.957342e+09  2.957342e+09  ...    2466138000
Wisconsin            7.874140e+07  1.362900e+07  ...       7723699

                            Profit Margin                                  \
                        max          mean    median         min       max
Business State
Alabama          1256317000      0.403732  0.403732    0.297094  0.510371
Arizona           215580000      0.206902  0.206902    0.206902  0.206902
Arkansas          555005000      0.098319  0.098319    0.073156  0.123482
California        276869000      0.287947  0.301992   -0.084923  0.505955
Colorado          696473000      0.346033  0.314631    0.124017  0.655796
Connecticut        70980512      0.559851  0.559851    0.559851  0.559851
Delaware          556236000      0.213083  0.231342   -0.020394  0.410044
Florida            34437774     -0.438503  0.295580   -2.850582  0.505412
Hawaii            365200000      0.348850  0.348850    0.348850  0.348850
Idaho            2347485000      0.282456  0.282456    0.129654  0.435258
Illinois          734334000      0.138131  0.222600   -0.716619  0.631997
Indiana           594931000      0.241067  0.164515    0.161278  0.397408
Iowa               34226553      0.265015  0.265015    0.265015  0.265015
Kentucky          136753000      0.023663  0.023663    0.023663  0.023663
Louisiana         856500000      0.212855  0.212855    0.212855  0.212855
MInnesota         743414000      0.333169  0.262657    0.009197  0.762859
Maine               6007176      0.578504  0.578504    0.578504  0.578504
Maryland          298732000      0.184145  0.237873   -0.092398  0.353230
Massachusetts     270950000      0.353531  0.385057    0.209786  0.460365
Michigan         2470448000      0.439004  0.406402    0.127149  0.783462
Missouri          561500000      0.226158  0.226158    0.202850  0.249466
Montana            33073414      0.321021  0.321021    0.059599  0.582444
Nebraska         1211052634      0.382938  0.382938    0.382938  0.382938
Nevada             24826587      0.081992  0.081992    0.081992  0.081992
New Jersey        731421000      0.230617  0.237778    0.045307  0.381234
New Mexico       1387923000      0.326908  0.326908    0.326908  0.326908
New York          731997000      0.315717  0.316376    0.084509  0.489443
North Carolina   8843168000      0.223596  0.205343    0.037283  0.477728
Ohio             1263331000      0.025611  0.196753   -0.729173  0.320697
Oregon            179180000      0.480619  0.480619    0.326069  0.635169
Pennsylvania      471933000      0.295548  0.179172    0.154784  0.552688
Rhode Island      208173000      0.312274  0.312274    0.312274  0.312274
South Carolina    490523000      0.260323  0.260323    0.239587  0.281059
Tennessee         373206000      0.250241  0.250241    0.209187  0.291294
Texas            1832253000      0.261672  0.287587   -0.394277  0.689392
Utah               29538275      0.562066  0.562066    0.391569  0.732562
Virginia          471638000    -24.301115  0.141573 -122.221145  0.370593
Washington        359445000      0.154017  0.154017   -0.140085  0.448119
Washington D.C.  2466138000      0.108641  0.108641    0.108641  0.108641
Wisconsin         397267000      0.483302  0.505813    0.122358  0.837386

                DebtToIncome
                        mean    median       min       max
Business State
Alabama             0.554029  0.554029  0.038691  1.069367
Arizona             0.301920  0.301920  0.301920  0.301920
Arkansas            0.185399  0.185399  0.174687  0.196112
California          0.247388  0.077488  0.001225  1.209948
Colorado            0.804851  0.300494  0.017987  4.464286
Connecticut         0.260804  0.260804  0.260804  0.260804
Delaware            0.532019  0.292791  0.014977  1.527514
Florida             0.438932  0.053390  0.000255  1.648695
Hawaii              1.657996  1.657996  1.657996  1.657996
Idaho               0.358515  0.358515  0.000007  0.717023
Illinois            0.071753  0.051228  0.036268  0.161578
Indiana             0.120429  0.092448  0.037190  0.231648
Iowa                0.182665  0.182665  0.182665  0.182665
Kentucky            0.123500  0.123500  0.123500  0.123500
Louisiana           0.442499  0.442499  0.442499  0.442499
MInnesota           0.230681  0.137855  0.042595  0.524054
Maine               0.149155  0.149155  0.149155  0.149155
Maryland            0.104514  0.096136  0.001625  0.224159
Massachusetts       0.091191  0.076021  0.005427  0.230120
Michigan            0.155739  0.085966  0.034285  0.346965
Missouri            0.399995  0.399995  0.108281  0.691708
Montana             0.294285  0.294285  0.090919  0.497650
Nebraska            0.015622  0.015622  0.015622  0.015622
Nevada              0.210742  0.210742  0.210742  0.210742
New Jersey          0.305886  0.152453  0.001041  0.958485
New Mexico          1.203539  1.203539  1.203539  1.203539
New York            0.143853  0.088896  0.026486  0.356136
North Carolina      0.144266  0.111670  0.038157  0.248375
Ohio                0.225400  0.170503  0.016853  0.425661
Oregon              0.238454  0.238454  0.061670  0.415238
Pennsylvania        0.288748  0.376225  0.009866  0.480151
Rhode Island        0.245205  0.245205  0.245205  0.245205
South Carolina      0.275934  0.275934  0.193188  0.358680
Tennessee           0.187259  0.187259  0.079029  0.295490
Texas               0.617214  0.164765  0.003097  3.185397
Utah                0.083036  0.083036  0.052881  0.113192
Virginia            0.153521  0.132822  0.106246  0.205678
Washington          0.723478  0.723478  0.262185  1.184772
Washington D.C.     0.212505  0.212505  0.212505  0.212505
Wisconsin           0.188580  0.140157  0.002045  0.480324

[40 rows x 24 columns]

In [64]:
# Step 8: Save all 3 files to CSV

# Businesses with negative Debt-to-Equity
neg_dte.to_csv("negative_debt_to_equity_businesses.csv", index=False)

# Business-level dataframe with Debt-to-Income
df_combined.to_csv("business_level_with_DTI.csv", index=False)

# tate-level descriptive statistics
agg_results.to_csv("state_descriptive_stats.csv")
print("Analysis complete.")

Analysis complete.